<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>ERP Lite</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'lightbox.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
	<script src="{% static 'js/lightbox-plus-jquery.min.js' %}"></script>
</head>
<body>
	<section id="nav-bar" class="about">
		<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="index.html"><img src="{% static 'image/images.png' %}" alt="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-snowflake-o" aria-hidden="true"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto  nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="/home">HOME<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/form">FORM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  bg-danger" href="/inventory">INVENTORY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">LOGOUT</a>
      </li>
    </ul>
  </div>
</nav>
</section>


<section id="latest">
    <div class="data-table-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="data-table-list">
                      <div class="basic-tb-hd">
                        <h2>Requisition Data</h2>
                        
                     </div>
                     <a href="/inventory"><u>Go to Stock Data</u></a></div><br>
 
                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead class="thead-light">
                                    <tr>
                                       
                                      
                                        <th>Faculty</th>
                                        <th>Paper Code</th>
                                        <th>Item</th>
                                        <th>Category</th>
                                        <th>Quantity</th>
                                        <th>Vendor</th>
                                        <th>Price</th>
                                        <th>Date</th>
  
                                     
                                    </tr>
                                </thead>
                                <tbody>
                              
                                  {% for i in data %}
                                  
                                    <tr id="first">
                                       
                                        
                                        <td>{{i.faculty}}</td>
                                        <td>{{i.code}}</td>
                                        
                                        <td>{{i.item}}</td>
                                        <td>{{i.category}}</td>
                                        <td>{{i.quantity}}</td>
                                        <td>{{i.vendor}}</td>
                                        <td>{{i.price}}</td>
                                        <td>{{i.date}}</td>
                                       
                                        


                                    </tr>
                                  {% endfor %}

                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    
  </div>
 </div>
  </section>

  

  <footer id="footer">
    <div class="footer-bottom bg-secondary">
      <div class="text-right container py-1">
              <p>
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
              </p>
      </div>
  </div>
    
  </footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{%static 'js/data-table/jquery.dataTables.min.js' %}"></script>
<script src="{%static 'js/data-table/data-table-act.js' %}"></script>
</body>
</html>
